* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
}

html {
  background-color: #F2F1E8;
}

h1 {
  font-size: 90px;
  font-weight:bolder;
  margin-bottom: -50px; 
  line-height: 0.9;
}

h2 {
  color: #3824CD;
  font-size: 56px;
  font-weight:450;
}


.main-nav {
  margin-top: 36px; 
  text-align: right;
  margin-right:65px; 
}

.main-nav li {
    display: inline;
}

.main-nav a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 4px;
    color: black;
}

.main-nav a {
  position: relative;
}

.main-nav a:hover {
  text-decoration: none; 
}

.main-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.3s ease; 
}

.main-nav a:hover::after {
  transform: scaleX(1);
}



.main{
    font-size: 30px;
    margin-left: -42px;
    margin-right: 60px;

}


p{
    font-size: 25px;
    text-align: justify;
}

.blue {
    color: #3824CD;
    margin: 0;
    font-size: 35px;
}





